<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>글 수정 페이지</h2>

  {% for field in form %}
    {% for error in field.errors %}
      <p style="color: red;">{{ error }}</p>
    {% endfor %}
  {% endfor %}

  <form action="" method="post" novalidate>
    {{ form.csrf_token }}

    <div>
      {{ form.subject.label }}
      {{ form.subject(placeholder='제목', value=data.subject) }}

      {{ form.writer.label }}
      {{ form.writer(placeholder='작성자', value=data.writer) }}
    </div>
    <div>
      {{ form.content.label }}
      {{ form.content(value=data.content) }}
    </div>

    <input type="submit" value="글수정">
  </form>
</body>
</html>